.auth-form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(240, 106, 129, 0.384);
    background: rgba(255, 192, 203, 0.822);
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1rem;
    align-items: start;
}

.form-item label {
    font-weight: bold;
    color: #333;
}

.form-item input {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
}

.form-actions {
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.form-actions button {
    padding: 0.5rem 1.5rem;
    border: none;
    border-radius: 6px;
    background-color: #f06a81;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.form-actions button:hover {
    background-color: #d05566;
}